.timing{
    font-size: 50px;
    color:darkcyan;
}
.Explore{
    text-align: center;
    line-height: normal;
}
.description{
    padding-top: 10px;
    line-height:1.5;
    white-space: pre;
}
.Video{
    background-color:cornflowerblue;
    padding:1%;
    border:none;
    margin-top: 2%;
    color:white;
    font-size:medium;
}
.Video:active {
    background-color:dodgerblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.time{
    color:white;
    font-size:medium;
    background-color:cornflowerblue;
    margin-left: 5%;
    padding:1%;
    border:none;
}
.time:active {
    background-color:dodgerblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
